<p>Extend the date:</p>

<%= simple_form_for favour do |f| %>
  <%= f.date_field :completion_date, min: Date.today + 1, required: true %>
  <%= f.button :submit, 'Update', class: "btn btn-primary" %>
<% end %>
