<div class="favour-modal favour-modal--hidden js-modal">
  <div class="favour-modal__content">
    <div class="favour-modal__header">
      <img src="" alt="" class="avatar favour-modal__avatar js-modal__image">
      <div>
        <h2 class="favour-modal__name js-modal__name"></h2>
        <div class="location favour-modal__location">
          <img class="location__icon favour-modal__icon">
          <p class="location__address favour-modal__address js-modal__address"></p>
        </div>
        <div class="favour-modal__close js-modal__close"></div>
      </div>
    </div>
    <div class="favour-modal__pills">
      <div class="pill favour-modal__pill pill--outline-black js-modal__date"></div>
      <div class="pill favour-modal__pill js-modal__category"></div>
    </div>
    <h3 class="favour-modal__title js-modal__title"></h3>
    <p class="favour-modal__description js-modal__description"></p>
    <div class="favour-modal__buttons">
<!--       <a class="link favour-modal__link" href="#">View Favour</a>
      <a class="button button--primary-fill favour-modal__button" href="#">Button</a>
      <p class="favour-modal__notice">Your application was rejected</p> -->
    </div>
  </div>
</div>
