<div class="modal fade js-favour-index-modal" id="favourIndexModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Favour Content -->
        <p class="js-favour-recipient-name"></p>
        <img class="js-favour-recipient-photo card-user-image">
        <p class="js-favour-completion"></p>
        <p class="js-favour-category"></p>
        <p class="js-favour-title"></p>
        <p class="js-favour-description"></p>
      </div>
    </div>
  </div>
</div>
