// Define variables for your color scheme

// For example:
$red: #fd3000;
$blue: #54A2EB;
$yellow: #F8A32C;
$orange: #E67E22;
$green: #92C156;
$purple: #C474EA;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main-red: #EC520B;
