// Define variables for your color scheme

// For example:

$light-gray: #F4F4F4;
$mid-gray: #717171;

$dark-blue: #2A56C8;
$light-blue: #56A1E7;
$red: #EC410B;
$orange: #FFA425;
$yellow: #FFD464;
$green: #A4CD6F;
