// Define variables for your color scheme

// For example:
$red: #EC410B;
$light-blue: #56A1E7;
$dark-blue: #2A56C8;
$yellow: #FFD464;
$orange: #FFA425;
$green: #A4CD6F;
$dark-gray: #717171;
$light-gray: #F4F4F4;

$main-red: #EC520B;
