<h1>Dashboard</h1>

<div class="container">
  <% if current_user.helper? %>
    <div class="helper-favours">
      <div class="accepted-favours">

      </div>
      <div class="open-favours">

      </div>
      <div class="archived-favours">

      </div>
    </div>
  <% end %>
  <% if current_user.recipient? %>
    <div class="recipient-favours">
      <div class="accepted-favours">

      </div>
      <div class="open-favours">

      </div>
      <div class="archived-favours">

      </div>
    </div>
  <% end %>
</div>
