<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Post a favour", new_favour_path, class: 'btn btn-primary' %>
<%= link_to "View all favours", favours_path, class: 'btn btn-primary' %>
