<div class="main-container">

	<!-- Buttons -->
	<section>
    <h4>Buttons</h4>
    <button class="button">Button</button>
    <br>
    <br>
    <button class="button button--primary-fill">Button</button>
    <br>
    <br>
    <button class="button button--primary-outline">Button</button>
	</section>

	<hr/>

  <!-- Pills -->
  <section>
    <h4>Pills</h4>
    <div class="pill">BASE PILL</div>
    <div class="pill pill--fill-yellow">YELLOW</div>
    <div class="pill pill--fill-orange">ORANGE</div>
    <div class="pill pill--fill-red">RED</div>
    <div class="pill pill--fill-green">GREEN</div>
    <div class="pill pill--fill-light-blue">LIGHT BLUE</div>
    <div class="pill pill--fill-dark-blue">DARK BLUE</div>
    <div class="pill pill--fill-mid-gray">GRAY</div>

    <br>
    <br>

    <div class="pill pill--outline-black">BLACK</div>
    <div class="pill pill--outline-yellow">YELLOW</div>
    <div class="pill pill--outline-orange">ORANGE</div>
    <div class="pill pill--outline-red">RED</div>
    <div class="pill pill--outline-green">GREEN</div>
    <div class="pill pill--outline-light-blue">LIGHT BLUE</div>
    <div class="pill pill--outline-dark-blue">DARK BLUE</div>
    <div class="pill pill--outline-mid-gray">GRAY</div>
  </section>

  <hr/>

  <!-- Rating -->
  <section>
    <h4>Rating</h4>
    <div class="rating">
      <div class="rating__icon rating__icon--yellow"></div>
      <p class="rating__text">5.0 (23)</p>
    </div>
    <div class="rating">
      <div class="rating__icon rating__icon--gray"></div>
      <p class="rating__text">No reviews</p>
    </div>
  </section>

  <hr/>

  <!-- Search -->
  <section>
    <h4>Search</h4>
    <%= simple_form_for :query, url: favours_path, method: "GET" do |f| %>
    <%= f.input :location, placeholder: 'Search by location...', input_html: {value: "", class: "search"} %>
  <% end %>
  </section>

  <hr/>

  <h1>Category</h1>
  <br>
  <h3>Base:</h3>
  <div class="category">
    <div class="category__circle">
      <img class="category__icon">
    </div>
  </div>
  <h3 style="margin-top:20px;">Outline Black:</h3>
  <div style="display:flex;width:400px;justify-content:space-between;margin-top:20px;">
    <div class="category category--type--groceries category--outline-black">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--pharmacy category--outline-black">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--pets category--outline-black">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--gardening category--outline-black">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--chat category--outline-black">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--other category--outline-black">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
  </div>
  <h3 style="margin-top:20px;">Outline Colour:</h3>
  <div style="display:flex;width:400px;justify-content:space-between;margin-top:20px;">
    <div class="category category--type--groceries category--outline-orange">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--pharmacy category--outline-dark-blue">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--pets category--outline-light-blue">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--gardening category--outline-green">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--chat category--outline-yellow">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--other category--outline-red">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
  </div>
  <h3 style="margin-top:20px;">Fill Colour:</h3>
  <div style="display:flex;width:400px;justify-content:space-between;margin-top:20px;">
    <div class="category category--type--groceries category--fill-orange">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--pharmacy category--fill-dark-blue">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--pets category--fill-light-blue">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--gardening category--fill-green">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--chat category--fill-yellow">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
    <div class="category category--type--other category--fill-red">
      <div class="category__circle">
        <img class="category__icon">
      </div>
    </div>
  </div>
  <h1 style="margin-top:20px;">Avatar</h1>
  <br>
  <h3>Base:</h3>
  <%= cl_image_tag(current_user.photo.key, crop: :thumb, gravity: :face, width: 500, height: 500, class: "avatar dropdown-toggle") %>
  <h1 style="margin-top:20px;">Logo</h1>
  <h3 style="margin-top:20px;">Base:</h3>
  <div style="display:flex;width:400px;justify-content:space-between;margin-top:20px;">
    <img class="logo">
  </div>
  <h1 style="margin-top:20px;">Logo</h1>
  <h3 style="margin-top:20px;">Base:</h3>
  <div style="display:flex;width:400px;justify-content:space-between;margin-top:20px;">
    <div class="location">
      <img class="location__icon">
      <p class="location__address">Greensborough, VIC 3088</p>
    </div>
  </div>
  <h1 style="margin-top:20px;">Link</h1>
  <h3 style="margin-top:20px;">Base:</h3>
  <div style="display:flex;width:400px;justify-content:space-between;margin-top:20px;">
    <a class= "link" href="#">View Favour</a>
  </div>
  <br>

</div>
