.button {
  font-size: 1.2em;
  height: 2.6em;
  width: auto;
  border-radius: 8px;
  padding: 0 1.4em;
  text-align: center;
  border: 1px solid $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    outline: none;
  }
  &:hover {
    color: white;
    background-color: $dark-blue;
    text-decoration: none;
    transition: 0.4s;
  }
  &--primary-fill {
    background-color: $dark-blue;
    color: white;
    &:hover {
      color: white;
      background-color: $light-blue;
      border-color: $light-blue;
    }
  }
  &--primary-outline {
    background-color: white;
    color: $dark-blue;
  }
}
