.favour-category {
	height: 50px;
  width: 50px;
  border-radius: 50%;
	position: absolute;
  top: -30px;
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.groceries {
  	background-color: $yellow;
  }
  &.pets {
  	background-color: $blue;
  }
  &.gardening {
    background-color: $green;
  }
  &.medicines {
  	background-color: $red;
  }
  &.other {
  	background-color: $purple;
  }
}
.favour-category-image {
	height: 38px;
}