.dashboard-tabs {
  margin: 18px 40px 32px 40px;
  width: 820px;

  &__labels {
    margin-bottom: 50px
  }

  &__label {
    margin-right: 36px;
    text-decoration: none;
    color: black;
    font-size: 14px;

    &:hover {
      color: $mid-gray;
      cursor: pointer;
    }

    &.active {
      border-bottom: 1.5px solid black;
    }
  }

  &__content {
    margin: 0;
    display: none;

    &.active {
      display: grid;
    }
  }
}
