// Favour index card
.favours-container {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 48px;
  padding: 24px;
  width: 984px;
  margin: 0 auto;
}
.favour-index-card {
  width: 280px;
  height: 400px;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 0 5px #ccc;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.favour-index-header {
  position: relative;
  .card-user-image {
    margin-right: 16px;
  }
}
.favour-index-content {
  padding: 12px;
  flex-grow: 1;
  overflow-x: scroll;
  h4 {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
  }
}
.favour-index-footer {
  margin-top: 10px;
}

// Elements for both index and dashboard cards
.card-user-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.card-completion-date {
  border: solid black 1px;
  display: inline;
  padding: 6px 24px;
  border-radius: 16px;
}

// Responsive
@media(max-width: 1000px) {
  .favours-index-container {
    grid-template-columns: 1fr 1fr;
    width: 656px;
  }
}
