.form {
  margin: 16px auto;
  border-radius: 14px;
  font-size: 1rem;
  color: $mid-gray;
  width: 500px;
  padding: 16px;
  background-color: white;
  text-align: center;

  &__title {
    font-size: 2.4rem;
    color: black;
    margin: 24px auto;
  }

  &__wrapper {
    margin: 32px;

    &--text {
      padding: 8px;
      border: 1.4px solid $mid-gray;
      color: $mid-gray;
      border-radius: 8px;
      position: relative;
      transition: border-color 0.2s ease-in-out,
                  color 0.2s ease-in-out;

      &:hover {
        border-color: black;
        color: black;
      }

      &:focus-within {
        border-color: $orange;
        color: $orange;
      }
    }

    &--file {
      display: flex;
      justify-content: space-around;
    }

    &--remember-me {
      margin: 16px;
    }
  }

  &__label-text {
    position: absolute;
    top: -8px;
    left: 16px;
    background-color: white;
    padding: 0 4px;
  }

  &__input-text {
    &__lg {
      min-height: calc(4.5em + 0.75rem + 2px);
    }
  }

  &__label-file {
    margin: -10px auto 16px auto;

    &--smiley {
      width: 100px;
      content: asset-url('upload.svg');

      // Preload image for hover
      &:after {
        display: none;
        content: asset-url('upload-hover.svg');
      }

      // Orange icon on hover
      &:hover {
        cursor: pointer;
        content: asset-url('upload-hover.svg');
      }
    }

    &--change-button {
      font-size: 1em;
      margin: 8px auto;
      border-color: $mid-gray;

      &:hover {
        cursor: pointer;
        color: black;
        border-color: black;
      }
    }
  }

  &__input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
  }

  &__image-preview {
    display: none;
    margin: 20px auto 8px auto;
    height: auto;
    width: auto;
    max-width: 140px;
    max-height: 140px;
  }

  &__button {
    width: 80%;
    height: 3em;
    margin: 0 auto;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin: 24px auto;
  }

  &__message {
    margin-right: 8px;
  }

  &__link {
    &:first-of-type {
      margin-right: 16px;
    }
  }

  &--shadow {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.09);
  }
}


// Remove default simple form styles
.form-control {
  border: none;

  &:focus {
    border: none;
    box-shadow: none;
  }
}
