.location {
  display: flex;
  align-itens: center;

  &__icon {
    content: asset-url('location-icon.svg');
    height: 10px;
    margin-right: 4px;
  }

  &__address {
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 0;
  }
}
