.pill {
  font-size: 14px;
  height: 26px;
  border-radius: 12px;
  padding: 0px 14px;
  display: inline-block;
  border: 1px solid;
  color: white;
  text-align: center;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  // Filled
  &--fill-yellow {
    background-color: $yellow;
    border-color: $yellow;
  }
  &--fill-orange {
    background-color: $orange;
    border-color: $orange;
  }
  &--fill-red {
    background-color: $red;
    border-color: $red;
  }
  &--fill-green {
    background-color: $green;
    border-color: $green;
  }
  &--fill-light-blue {
    background-color: $light-blue;
    border-color: $light-blue;
  }
  &--fill-dark-blue {
    background-color: $dark-blue;
    border-color: $dark-blue;
  }
  &--fill-mid-gray {
    background-color: $mid-gray;
    border-color: $mid-gray;
    }
  // Outline
  &--outline-black {
    border-color: black;
    color: black;
  }
  &--outline-yellow {
    border-color: $yellow;
    color: $yellow;
  }
  &--outline-orange {
    border-color: $orange;
    color: $orange;
  }
  &--outline-red {
    border-color: $red;
    color: $red;
  }
  &--outline-green {
    border-color: $green;
    color: $green;
  }
  &--outline-light-blue {
    border-color: $light-blue;
    color: $light-blue;
  }
  &--outline-dark-blue {
    border-color: $dark-blue;
    color: $dark-blue;
  }
  &--outline-mid-gray {
    border-color: $mid-gray;
    color: $mid-gray;
  }
}
