.rating {
  display: flex;
  align-items: end;
  font-size: 1.2em;
  &__icon {
    content: url(asset_path('star-icon.svg'));
    &--yellow {
      filter: invert(96%) sepia(24%) saturate(6171%) hue-rotate(311deg) brightness(106%) contrast(105%);
    }
    &--gray {
      filter: invert(46%) sepia(1%) saturate(0%) hue-rotate(106deg) brightness(94%) contrast(90%);
    }
  }
  &__text {
    margin-left: 4px;
    font-size: 1em;
    margin-bottom: 0;
    color: $mid-gray;
  }
}
