.review-tabs {
  &__label {
    margin-right: 36px;
    text-decoration: none;
    color: black;
    font-size: 1.4em;

    &:hover {
      color: $mid-gray;
      cursor: pointer;
    }

    &.active {
      border-bottom: 1.5px solid black;
    }
  }

  &__content {
    margin: 0;
    display: none;

    &.active {
      display: block;
    }
  }
}
