#address-input {
  padding: 20px;
  border-radius: 24px;
  text-align: center;
  font-size: 17px;
  box-shadow: 0 0 5px #ccc;
  border: none;
}
.simple_form label[for='address-input'] {
  display: none;
}
#search-location-form {
  margin: 0 auto;
  width: 600px;
  padding: 32px 0px;
}

// Responsive
@media(max-width: 1000px) {
  #search-location-form {
    width: 440px;
  }
}