.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 55px;

  &__bar {
    width: 362px;
    border-radius: 8px;
    height: 40px;
    &:focus {
      box-shadow: none;
      border-color: $mid-gray;
    }
  }

  &__button {
    margin-left: 16px;
    height: 40px;
    width: 75px;
  }

  &__icon {
    height: 23px;
    width: 23px;
    content: asset-url('search-icon.svg');
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(263deg) brightness(104%) contrast(100%);
  }
}

label[for="query_location"] {
  display: none;
}

.query_location {
  margin: 0;
}
